.topBg{ background-color: #2B3A46;}

.mainbg{ background-color: #192D3B;}

.cardBg{background-color: #2B3A46; }

.textColor{
    color : #4E585E;
    font-size: 18px;
}

.tittleColor{ color :#FFFFFF;}

.mw3{ width: 30px;}

.bnone{
    border: none;
    padding: 10px;
    background-color: #2B3A46;   
}